body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  width:100%;
  overflow-x: hidden !important;
}

header {
  padding: 64px;
  box-shadow: 0 0 4px;
  text-align: center;
}

main {
  font-size: 32px;
  margin: auto 128px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 64px 0;
}

ol {
  margin: 64px;
}

li {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
  margin: 64px 0;
}

.procedure {
  border-radius: 4px;
  box-shadow: 0 0 4px;
  padding: 16px;
  margin: 64px auto;
}

.email {
  margin: 64px 0;
  width: 100%;
  height: 1008px;
  border: none;
  vertical-align: bottom;
}

.join {
  margin: 64px 0;
  width: 100%;
  height: 848px;
  border: none;
  vertical-align: bottom;
}

hr {
  margin: 0;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 64px;
  text-decoration: none;
  font-style: italic;
  color: black;
  border: 4px solid black;
  padding: 16px;
}

.scroll {
  width      : 100%;
  font-family: 'Noto Sans JP', sans-serif;
  text-align : center;
  overflow   : hidden;
}

.scroll span{
  margin: 64px 0;
  display     : inline-block;
  animation   : scrollAnime 20s linear infinite;
  vertical-align: bottom;
}

@keyframes scrollAnime{
    0% {
      transform: translateX(100%)
    }
  100% {
    transform: translateX(-100%)
  }
}

.title span {
  font-size: 32px;
}

.url-center {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  padding: 16px;
  border: 4px solid white;
  margin: auto 64px;
}

.button-div {
  text-align: center;
  margin: 64px 0;
}

.button-a {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 4px solid black;
  padding: 16px;
  margin: 0 64px;
}

.top {
  width: 75%;
  margin: 48px 12.5% 64px 12.5%;
}
