body {
  margin: 0;
  user-select: none;
  font-family: serif;
}

header {
  background-color: teal;
  color: white;
  font-weight: bold;
  font-size: 128px;
  padding: 16px 64px;
}

main {
  margin: auto auto auto auto;
  max-width: 1024px;
  min-width: 256px;
  font-size: 32px;
  padding: 16px 64px;
}

footer {
  background-color: teal;
  font-size: 128px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 16px 64px;
}

span {
  font-weight: normal;
}

.footer-list {
  text-align: center;
}

.footer-link {
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-size: 64px;
  margin: auto 32px;
}

.main {
  text-align: center;
}

.span-annotation {
  font-size: 16px;
  vertical-align: top;
}

.li-annotation {
  margin-right: 16px;
  font-size: 16px;
  color: silver;
}

.span-underline {
  text-decoration: underline;
}

.div-link {
  text-align: center;
}

.main-link {
  font-weight: bold;
  background-color: teal;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.header-logo {
  text-decoration: none;
  color: white;
}

.footer-margin {
  margin-top: 64px;
}
