body {
  margin: 0;
  user-select: none;
  font-family: serif;
}

header {
  background-color: navy;
  color: gold;
  font-weight: bold;
  font-size: 128px;
  padding: 16px 64px;
}

main {
  margin: 64px auto;
  width: 1024px;
  font-size: 32px;
  padding: 16px 64px;
  text-align: center;
}

footer {
  background-color: navy;
  font-size: 128px;
  text-align: center;
  font-weight: bold;
  color: gold;
  padding: 16px 64px;
}

.header-logo {
  float: left;
  margin-right: 32px;
}

.header-link {
  vertical-align: middle;
  color: gold;
  text-decoration: none;
  font-size: 64px;
  margin: auto 32px;
}

.main-link {
  font-weight: bold;
  background-color: navy;
  color: gold;
  padding: 16px;
  text-decoration: none;
}

.footer-logo {
  text-decoration: none;
  color: gold;
}
