@media screen and (min-device-width: 1024px) {
    main .see-terms, main div:not(form div, main div div), iframe {
        margin: 0 256px;
    }
    iframe {
        width: calc(100% - 512px);
    }
}
@media screen and (max-device-width: 1024px) {
    main .see-terms, main div:not(form div, main div div), iframe {
        margin: 0 128px;
    }
    iframe {
        width: calc(100% - 256px);
    }
}
body {
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    justify-content: center;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: calc(100% - 48px);
    background-color: white;
    padding: 24px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, .25) 0px 2px 4px 0px;
}
header a {
    text-decoration: none;
    user-select: none;
    height: 18.5px;
}
header div {
    padding: 0 32px;
}
header div a {
    user-select: auto;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    padding-right: 32px;
}
main {
    padding-top: 64px;
    margin: 0;
    font-weight: 300;
    position: relative;
    top: -88px;
}
.motto {
    margin: 0;
    color: white;
    font-size: 48px;
    position: relative;
    top: 80px;
}
.motto {
    background-image: url("./image/group.png");
    background-size: cover;
    background-position: 25% 50%;
    padding: 192px 288px;
}
.motto div {
    width: 50%;
}
span {
    white-space: nowrap;
    display: inline-block;
}
body .motto a {
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid white;
    text-decoration: none;
    user-select: none;
    transition: 0.15s;
}
body .motto a:hover {
    background-color: black;
    border: 2px solid black;
    filter: invert();
}
main .see-terms {
    background-color: black;
    color: white;
    position: relative;
    top: 48px;
    padding: 48px 0;
    text-align: center;
}
main .see-terms a {
    color: #b8acf1;
    text-decoration: none;
    font-weight: bold;
}
main .see-terms a::after {
    content: " →";
}
main .see-terms a:hover {
    text-decoration: underline solid;
}
.gsc-control-cse, .gsc-control-cse-ja {
    background-color: transparent !important;
    border: none !important;
}
.gsc-control-cse, .gsc-control-cse-ja {
    position: relative;
    top: -28px;
}
#gsc-iw-id1, .gsc-input-box {
    padding: 2px 0;
    cursor: text;
    font-family: 'Zilla Slab', serif !important;
}
#gs_st50, .gsst_b {
    display: none;
}
.gsc-search-button, .gsc-search-button-v2 {
    padding: 11px 22px !important;
    margin: 0 !important;
}
#gsc-i-id1, .gsc-input {
    background: none !important;
}
td.gsc-search-button {
    padding-left: 0 !important;
}
td.gsc-input {
    padding-right: 0 !important;
}
.gsc-input-box {
    border: 1px solid #d3d3d3;
    border-radius: none;
    appearance: none;
}
.gsc-search-button-v2 {
    border: none !important;
    border-radius: 0 !important;
    background-color: #0088bf !important;
    cursor: pointer;
}
.gcsc-find-more-on-google-query {
    line-height: 1.2em !important;
}