@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media screen and (min-device-width: 1024px) {
	.text {
		margin: auto 128px;
	}
	.procedure, .terms, .policy, .pin, #list {
		margin: 64px 128px;
	}
}
@media screen and (max-device-width: 1024px) {
	.text {
		margin: auto 0;
	}
	.procedure, .terms, .policy, .pin, #list {
		margin: 64px 0;
	}
}
body {
    margin: 0;
    font-size: 32px;
	font-family: 'Noto Sans JP', sans-serif;
	user-select: none;
}
header {
    display: inline-flex;
	width: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;
	top: 0;
	left: 0;
}
header div button {
	padding: 16px 32px;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
    font-size: 32px; 
	border: none;
}
header div button:hover {
	text-decoration: underline 4px solid;
	text-underline-position: under;
	cursor: pointer;
}
p {
	font-weight: 100;
}
footer {
	text-align: center;
	background-color: rgba(0, 0, 0, .03125);
}
small {
	font-size: 16px;
	color: rgba(0, 0, 0, .5);
	vertical-align: 25%;
}
#lines {
	font-weight: 300;
	font-size: 2em;
}
hr {
	margin: 64px 0;
}
svg:hover {
	cursor: pointer;
}
.text >:first-letter {
	font-size: 2em;
	line-height: 1em;
}
#home-link {
	position: fixed;
	z-index: 1;
	right: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
}